@model chatroom.Models.UsersModel

@{
    ViewBag.Title = "My_Profile";
}

<h2>My Profile</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="@Url.Content("~/ProfileP/" + Model.ProfilePicture)" alt="DP" class="img-fluid" style="max-width: 170px; max-height: 200px;" />
        </div>
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FirstName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FirstName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.LastName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.UserName)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.UserName)</dd>

                <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
            </dl>
        </div>
    </div>
</div>

<form action="/Home/EditProfile" method="get">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Edit Profile</button>
</form>
